[submodule "Assignments/Assignment_1/Scene-Recognition-with-Bag-of-Words"]
	path = Assignments/Assignment_1/Scene-Recognition-with-Bag-of-Words
	url = https://github.com/NoviceCoderInfinity/Scene-Recognition-with-Bag-of-Words/
